body {
  margin: 0;
  padding: 0;
  background-color: var(--customBlack);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
  /* colors */
  --customBlack: #131515;
  --customOrange: #c57b57;
  --customYellow: #f7dba7;
  --customRed: #ff5666;
  --discordLogoColor: #738adb;
  --instagramLogoColor: #dd2a7b;
  --linkedinLogoColor: #0077b5;
  --githubLogoColor: #ffffff;
}
