body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--customYellow);
}
.contactBox {
  display: grid;
  margin-top: 15vh;
  grid-template-columns: 3fr 1fr;
}
.main {
  height: 50vh;
  margin-right: 5%;
  background-color: rgb(106, 55, 55);
}
.icons {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 80px;
  height: 80px;
  border-radius: 60px 60px;
}
img:hover {
  box-shadow: 0px 0px 15px 15px rgb(70, 50, 31);
}
