body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--customYellow);
}
.contactBox {
  display: grid;
  margin-top: 15vh;
  grid-template-columns: 3fr 1fr;
}
.main {
  height: 50vh;
  margin-right: 5%;
  background-color: rgb(106, 55, 55);
}
.icons {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactIcons {
  max-width: 80px;
  height: 80px;
  border-radius: 60px 60px;
}
.discord:hover {
  box-shadow: 0px 0px 20px 0.8px var(--discordLogoColor);
  transition: 0.2s ease-out;
}
.linkedin:hover {
  box-shadow: 0px 0px 20px 0.8px var(--linkedinLogoColor);
  transition: 0.2s ease-out;
}
.instagram:hover {
  box-shadow: 0px 0px 20px 0.8px var(--instagramLogoColor);
  transition: 0.2s ease-out;
}
.github:hover {
  box-shadow: 0px 0px 20px 0.8px var(--githubLogoColor);
  transition: 0.2s ease-out;
}
