body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  color: var(--customBlack);
  font-size: 2em;
  background-color: var(--customRed);
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 0px 200px 15px rgb(75, 10, 10);
  border-radius: 50px;
  width: 100vh;
  margin-top: 35vh;
}
.notFoundText {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
